.accordion__button{
  background-color : #f65002 !important;
}

.accordion__button:hover{
  background-color : #c84204 !important;
}

  body {
  background-color : #002147;
  }
  .accordion__item{
    background-color:#002147;
  }

  .accordion-label{
    font-weight: bold;
    color : white;
  }


  .provider-logo {
    display: flex;
    background: white;
    border-radius : 5;
    cursor : 'pointer';
    opacity: 0.9;
    cursor : 'pointer';
    padding: 2px;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  .provider-logo img {
    
    border: solid 10px white;
    background-color: white;
    border-radius: 5px;
  }

  .provider-logo:hover {
        border: 3px solid white;
        background: #002147;
        opacity: 1;
        -webkit-transition:all 0.2s ease;
        -moz-transition:all 0.2s ease;
        -ms-transition:all 0.2s ease;
        -o-transition:all 0.2s ease;
        transition:all 0.2s ease;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        z-index: 999;
    }

  .provider-item{
    display : flex;
    justify-content : center; 
    align-items :center;
    padding-top : 1em;
    padding-bottom:1em;

  }

   

    .accordion__panel{
      padding : 0px !important
    }

    #egamings_container, .egamings_game_frame{
      height: 600px !important;
      width: 100% !important;
    }

    .iframeContainer {
      height: 600px !important;
    }



    .game-container{
      min-height: 800px;
    }

    .provider-mini-thumbnail{
      border : solid 3px #00152d !important;
    }
    .provider-mini-thumbnail:hover{
      border : solid 3px #c84204 !important;
    }




    .menu{

      width: 100%;
      background-color: #f65002;
      display: flex;
      padding: 1em;
      justify-content: space-between;      
    }

    .menu .right {
      display: flex;
      justify-content: space-between;
      justify-items: center;
      align-items: center;
    }

    .menu .right a{
      margin-left: 1em;
    }

    .menu .right span , a{
      color : white
    }

    .menu .right .balance {
      font-size: 1.6em;
      margin-right: 1em;
    }


    @media only screen and (max-width: 600px) {
      .menu{
        width: 100%;
        background-color: #f65002;
        display: block;
        padding: 1em;
      }
  
      .menu .right {
        display : block;
        width: 100%;
      }

      .menu .right span{
        display : block;
        width: 100%;
      }
  
      .menu .right a{
        margin-left: 0;
        margin-right : 1em;
        margin-top: 15px;
        display: block;
      }
  
      .menu .right span , a{
        color : white
      }
  
      .menu .right .balance {
        font-size: 1.6em;
        margin-right: 1em;
      }
    }